@model List<OrderDetail>
@{

    var lang = ViewBag.Language == null ? null : ViewBag.Language as Languages;
    var page = ViewBag.Page == null ? 0 : ViewBag.Page;
    var pageSize = ViewBag.PageSize == null ? 2 : ViewBag.PageSize;
}
@foreach (var item in Model)
{
    <div class="container-fluid mt-5 mb-5">

        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #@item.OrderId</h2>
            </div>

            <!-- Main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">@item.DayOrder.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</span>
                                    <span class="me-3">#@item.OrderId</span>
                                    @*<span class="me-3">Visa -1234</span>*@
                                    <span class="badge rounded-pill bg-info">
                                        @{
                                            var text = "";
                                            switch (item.Active == null ? 0 : (int)item.Active)
                                            {
                                                case 0: text = lang?.Status0; break;
                                                case 1: text = lang?.Status1; break;
                                                case 2: text = lang?.Status2; break;
                                                case 3: text = lang?.Status3; break;

                                                default: break;
                                            }
                                        }
                                        @text
                                    </span>
                                </div>
                                <div class="d-flex">
                                    @if (item.Active == Active.Inactive)
                                    {
                                        <button onclick="historyinanh.cancle('@item.Phone','@item.OrderId')" class="btn btn-link "><span class="text">@lang?.CancleOrder</span></button>
                                    }

                                </div>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    @if (item.Images != null)
                                    {
                                        @foreach (var img in item.Images)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="flex-shrink-0">
                                                            @switch ((int)img.Type)
                                                            {
                                                                case 0:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 1:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 2:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 3:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 4:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 5:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                case 6:
                                                                    <img src="'@img.OrginUrl.FirstOrDefault()''" alt="" width="40" height="60" class="img-fluid">
                                                                    break;
                                                                default: break;
                                                            }
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0">Ảnh @img.Type.ToString().Replace("t","")</h6>
                                                            @*<span class="small">Số Lượng @img.Url.Count</span>*@
                                                        </div>
                                                    </div>
                                                </td>
                                                <td> @img.OrginUrl.Count x  @(img?.Price.Value.ToString("##,##0")) đ </td>
                                                <td class="text-end"> @((img?.Price.Value * img.OrginUrl.Count).Value.ToString("##,##0")) đ</td>
                                            </tr>
                                        }
                                    }
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Tổng Tiền</td>
                                        <td class="text-end">@(item?.Images?.Select(x => x.Price * x.OrginUrl.Count())?.Sum().Value.ToString("##,##0")) đ</td>
                                    </tr>
                                   @* <tr>
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end">$20.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Discount (Code: NEWYEAR)</td>
                                        <td class="text-danger text-end">-$10.00</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td colspan="2">TOTAL</td>
                                        <td class="text-end">$169,98</td>
                                    </tr>*@
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <!-- Customer Notes -->

                    <div class="card mb-4">
                        <!-- Shipping information -->
                        <div class="card-body">
                            <h3 class="h6">Shipping Information</h3>
                            <strong>FedEx</strong>
                            <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                            <hr>
                            <h3 class="h6">Address</h3>
                            <address>
                                <strong>John Doe</strong><br>
                                1355 Market St, Suite 900<br>
                                San Francisco, CA 94103<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                        <div class="card-body">
                            <h3 class="h6">@lang?.Note</h3>
                            <p>@item.Note</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
<span class="viewmore text-center hidden">Xem Thêm</span>